/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Limelight|Monoton|Open+Sans');

.title {
  color: red;
  margin-bottom: 20px;
  font-family: 'Monoton', fantasy;
}
.main-bg {
  background-image: url(../images/theater.jpg);
  background-size: contain;
  background-position: center;
  font-family: 'Limelight', sans-serif;
}
.main {
  height: 700px;
  margin-top: 20px;
  color: white;
}
.box {
  height: 350px;
}
.box>a {
  height: 200px;
}

.box>a:hover {
    border: 5px solid rgba(250, 0, 0, 1);
}

.boxes-flex {
  display: flex;
  justify-content: space-between;
  height: 700px;
}
