<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="title">
  <h1> Welcome to {{ title }}! </h1>
</div>

<div class="container main main-bg img-responsive">
  <div class="row boxes-flex">
    <div class="col-sm-3 box">
      <p> Movie Title: {{ movieList.title }} </p>
      <p> Movie Thumbnail:<img class="img-responsive" src="{{ movieList.thumbnail }}" alt="Image not showing"></p>
    </div>
    <div class="col-sm-3  box">
      <p> Movie Title: {{ movieList.title }} </p>
      <p> Movie Thumbnail:<img class="img-responsive" src="{{ movieList.thumbnail }}" alt="Image not showing"></p>
    </div>
    <div class="col-sm-3  box">
      <p> Movie Title: {{ movieList.title }} </p>
      <p> Movie Thumbnail:<img class="img-responsive" src="{{ movieList.thumbnail }}" alt="Image not showing"></p>
    </div>
  </div>
</div>
