/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Limelight|Monoton|Open+Sans');

.title {
  color: red;
  margin-bottom: 20px;
  font-family: 'Monoton', fantasy;
}
.main-bg {
  background-image: url(../app/images/theater.jpg);
  background-size: contain;
  background-position: center;
  font-family: 'Limelight', sans-serif;
}
.main {
  height: 650px;
  margin-top: 20px;
  color: white;
}
.box {
  border: 1px solid white;
  margin-top: 100px;
  height: 200px;
}
.boxes-flex {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
